<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    インストール時にconfigure.batを実行しなかった場合、以下のconfigSectionの定義が必要になります。
    configre.batを実行した場合はmachine.configに以下の定義が追加されていますのでapp.configでの記載は不要になります。
    このセクションに記載するOracle.ManagedDataAccess.dllのバージョンとPublicKeyTokenはインストールしたバージョンに合わせてください。
    -->
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <oracle.manageddataaccess.client>
    <!-- 設定を反映させるバージョンを指定することができます。すべてのバージョンを対象とする場合は*を指定します。 -->
    <version number="*">
      <!-- TNSの接続エントリ内容を記載します。複数記載可能です。 -->
      <!--<dataSources>
        <dataSource alias="mes_ans" descriptor="(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = appserver)(PORT = 1521))(CONNECT_DATA = (SID = ANS)))" />
      </dataSources>-->
      <!-- TNS_ADMINのパスを指定することもできます -->
      <settings>
        <setting name="TNS_ADMIN" value="C:\oraclexe\app\oracle\product\11.2.0\server\network\ADMIN\"/>
      </settings>
    </version>
  </oracle.manageddataaccess.client> 
	
  <appSettings>
    <!-- 自動アップデートを無効にする時は value="" とする -->
    <!--<add key="LatestProgramFolder" value="\\appserver\release\hmiya\BIO\Program Files.debug\shenlong"/>-->
    <!--<add key="LatestProgramFolder" value="\\appserver\kteapl\release\hmiya\COMMON\Program Files.debug\shenlong"/>-->
    <add key="LatestProgramFolder" value="" />
    <add key="UrlMailToDeveloper" value="http://appserver/asopap/MailToDeveloper.aspx?subject=(´∀`)てすつ"/>
    <!--<add key="UrlMailToDeveloper" value="http://localhost:4910/WebAsOperatorApprove/MailToDeveloper.aspx"/>-->
    <add key="ReloadLastColumnsOnStartup" value="yes"/>
    <add key="SelectColumnByDragDrop" value="yes"/>
    <add key="ShowSynonymOwner" value="yes"/>
    <add key="TableSelectedAction" value="0"/>
    <add key="EditableColumnName" value="no"/>
    <add key="SqlDateFormat" value="yyyymmdd hh24mi"/>
    <add key="MultiInstanceEnabled" value="false"/>
    <add key="PasteColumnComments" value="yes"/>
    <add key="SaveQueryOutputFile" value="yes"/>
    <add key="TextQueryOutputFileName" value=".\~QueryOutput.txt"/>
    <add key="PasteQueryResultToExcel" value="4"/>
    <add key="OraConnWare" value="OracleClient"/>
    <!--<add key="OraMiddleware" value="OleDb"/>-->
    <add key="ShowParamInputDlg" value="true"/>
  </appSettings>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
</configuration>
